# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
.pypi-env/

# Logs & Data
logs/
*.db
*.log

# Streamlit
.streamlit/
# VS Code
.vscode/

# Secrets
.env
.env.*

# Docker
*.egg-info/
*.tar.gz
*.whl
.DS_Store
