# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Logs and local config
*.log
*.env
*.local
.logs/
logs/

# Streamlit
.streamlit/

# macOS
.DS_Store

# Python packaging artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
